In [ ]:
# collections

# lists
# tuples
# dictionaries

In [ ]:
empty_list = []

In [1]:
top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(top_cities)

['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [2]:
top_cities[0]

'New York'

In [3]:
top_cities[-1]

'Phoenix'

In [4]:
# slicing
top_cities[0:2]

['New York', 'Los Angeles']

In [5]:
top_cities[2:]

['Chicago', 'Houston', 'Phoenix']

In [6]:
top_cities[:]

['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [7]:
top_cities = ['New York', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
del top_cities[2]
print(top_cities)

['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [8]:
top_cities = ['New York', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
del top_cities[3:]
print(top_cities)

['New York', 'Los Angeles', 'Singapore']

In [9]:
top_cities = ['New York', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
del top_cities[:] # empty list items using slicing
print(top_cities)

[]

In [10]:
top_cities = ['New York', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
del top_cities # delete complete list

In [11]:
book_ratings = [7, 9, 5,6,8]
book_ratings.append(4) # add item to list
print(book_ratings)

[7, 9, 5, 6, 8, 4]

In [12]:
book_ratings = [7, 9, 5,6,8]
book_ratings.insert(1, 10) # add item to list at index
print(book_ratings)

[7, 10, 9, 5, 6, 8]

In [13]:
top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
for city in top_cities:
    print('Current city:', city)

Current city: New York
Current city: Los Angeles
Current city: Chicago
Current city: Houston
Current city: Phoenix

In [14]:
top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
for city_index in range(len(top_cities)):
    print('Current Index', city_index, 'Current city:', top_cities[city_index])

Current Index 0 Current city: New York
Current Index 1 Current city: Los Angeles
Current Index 2 Current city: Chicago
Current Index 3 Current city: Houston
Current Index 4 Current city: Phoenix

In [24]:
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]

low_spendings = 0.0
normal_spendings = 0.0
high_spendings = 0.0

for item in spendings:
    if item < 1000.0:
        low_spendings += 1
    elif item >= 1000.0 and item <= 2500.0:
        normal_spendings += 1
    else:
        high_spendings += 1
print('Numbers of months with low spendings: ' + str(low_spendings) + ', normal spendings: ' + str(normal_spendings) + ', high spendings: ' + str(high_spendings) + '.')

Numbers of months with low spendings: 1.0, normal spendings: 5.0, high spendings: 6.0.

In [25]:
# swapping element in list

top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities[4], top_cities[0] = top_cities[0], top_cities[4]
print(top_cities)

['Phoenix', 'Los Angeles', 'Chicago', 'Houston', 'New York']

In [26]:
top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities.sort() # changes the list
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York', 'Phoenix']

In [27]:
top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities.sort(reverse=True) # changes the list
print(top_cities)

['Phoenix', 'New York', 'Los Angeles', 'Houston', 'Chicago']

In [28]:
top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(sorted(top_cities)) # do not change the list
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York', 'Phoenix']
['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [29]:
top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
city = input('Which city you belong to? ')
# item the list
if city in top_cities:
    print('Wonderful!, you are in top city')
else:
    print('Oops, you are not in one of top cities')

Which city you belong to? india
Oops, you are not in one of top cities

In [31]:
# copy list
list_original = [1, 2, 3]
list_new = list_original[:] # use slice to copy
list_new[0] = -5
print('Original:', list_original, '\nNew:', list_new)

Original: [1, 2, 3]
New: [-5, 2, 3]

In [32]:
# comprehensions
numbers = [i for i in range(1, 100)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [34]:
numbers = [i for i in range(1, 100) if i % 3 != 0]
print(numbers)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98]

In [35]:
# nested list
table = [[i for i in range(1, 6)] for j in range(4)]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [36]:
list_numbers = [0, 1] * 10
print(list_numbers)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [ ]:
# empty tuple
# list are mutable but tuple are immutable
# tuple are used when different data types are grouped in a structure
empty_tuple = ()

In [37]:
one_el_tuple_a = (1,)
one_el_tuple_b = 1,
three_el_tuple = 1, 2, 3
print(three_el_tuple)

(1, 2, 3)

In [65]:
# tuple operations

three_el_tuple = 1, 2, 3
print(len(three_el_tuple))

3

In [41]:
city_1 = ('London', 'UK', 8.98)
city_2 = ('Canberra', 'Australia', 0.4)
city_3 = ('Algiers', 'Algeria', 3.9)

# tuples in list
capitals = [('London', 'UK', 8.98), ('Canberra', 'Australia', 0.4), ('Algiers', 'Algeria', 3.9)]
# list in tuples
user_data = ('John', 'American', 1964, [77.0, 78.2, 77.5])

In [42]:
connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
    ('Dublin', 'Rome', 170),
    ]

flight_times = []
for connection in connections:
    if connection[1] == 'Rome':
        flight_times.append(connection[2])
        
sum_flight_times = 0
for time in flight_times:
    sum_flight_times += time
print(len(flight_times), 'connections lead to Rome with an average flight time of', sum_flight_times/len(flight_times) , 'minutes')

5 connections lead to Rome with an average flight time of 161.0 minutes

In [44]:
# dictionaries

emails = {
    'Anne Stahl': 'abcd@gmail.com',
    'John Doe': 'john@gmail.com'
}
print(emails['John Doe'])

john@gmail.com

In [45]:
grades = {}

grades['John'] = 'A-'
grades['Anne'] = 'B'
print(grades)

{'John': 'A-', 'Anne': 'B'}

In [48]:
grades.update({'John': 'A'})
print(grades)

{'John': 'A', 'Anne': 'B'}

In [54]:
user_input = input('enter name: ')
if user_input in grades:
    print('John got:', grades[user_input])

enter name: John
John got: A-

In [50]:
del grades['John']
print(grades)

{'Anne': 'B'}

In [51]:
grades = {}

grades['John'] = 'A-'
grades['Anne'] = 'B'

for el in grades:
    print(el)
    
for el in grades.keys():
    print(el)
    
for el in grades.values():
    print(el)
    
for person,grade in grades.items():
    print(person, 'got', grade)

John
Anne
John
Anne
A-
B
John got A-
Anne got B

In [58]:
sample_dict = {
    "mouth": "Mund",
    "finger": "Finger",
    "leg": "Bein",
    "hand": "Hand",
    "face": "Gesicht",
    "nose": "Nase"
}
while True:
    word = input('Enter a word in English or EXIT: ')

    if word == 'EXIT':
        print('Bye!')
        break
    else:
        if word in sample_dict:
            print('Translation:', sample_dict[word])
        else:
            print('No match!')

Enter a word in English or EXIT: dog
No match!
Enter a word in English or EXIT: face
Translation: Gesicht
Enter a word in English or EXIT: EXIT
Bye!

In [59]:
list_a = [1, 2, 3]
list_b = list_a[-2:-1]
list_c = list_a[-1:-2]
print(list_b)
print(list_c)

[2]
[]

In [60]:
values = [[3 - x for x in range(2)] for y in range(5)]
 
sum = 0.0
for row in values:
  for cell in row:
    sum += cell
 
print(sum)

25.0

In [61]:
ratings = [3.0, 4.5, 6.3, 4.5, 6.7]
print(ratings[-2:-4])

[]

In [62]:
integers = [1, 4, -2]
print(integers[integers[-1]])

4

In [63]:
vals = (1, 2, 3, 4)
vals = vals[1:-1]
vals = vals[1]
print(vals)

3

In [66]:
dict = {'en': 'dog', 'pl': 'pies', 'es': 'perro', 'jp': 'inu'}
print(dict['pies'])

KeyError: 'pies'